@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: #ffffff;
  --color-foreground: #0a0a0a;

  --color-card: #ffffff;
  --color-card-foreground: #0a0a0a;

  --color-popover: #ffffff;
  --color-popover-foreground: #0a0a0a;

  --color-primary: #171717;
  --color-primary-foreground: #fafafa;

  --color-secondary: #f5f5f5;
  --color-secondary-foreground: #171717;

  --color-muted: #f5f5f5;
  --color-muted-foreground: #737373;

  --color-accent: #f5f5f5;
  --color-accent-foreground: #171717;

  --color-destructive: #ef4444;
  --color-destructive-foreground: #fafafa;

  --color-border: #e5e5e5;
  --color-input: #e5e5e5;
  --color-ring: #0a0a0a;

  --color-chart-1: #e76e50;
  --color-chart-2: #2a9d90;
  --color-chart-3: #274754;
  --color-chart-4: #e8c468;
  --color-chart-5: #f4a462;

  --color-sidebar-background: #fafafa;
  --color-sidebar-foreground: #262626;
  --color-sidebar-primary: #171717;
  --color-sidebar-primary-foreground: #fafafa;
  --color-sidebar-accent: #f5f5f5;
  --color-sidebar-accent-foreground: #262626;
  --color-sidebar-border: #e5e5e5;
  --color-sidebar-ring: #0a0a0a;

  --radius: 0.625rem;
}

.dark {
  --color-background: #0a0a0a;
  --color-foreground: #fafafa;

  --color-card: #0a0a0a;
  --color-card-foreground: #fafafa;

  --color-popover: #0a0a0a;
  --color-popover-foreground: #fafafa;

  --color-primary: #fafafa;
  --color-primary-foreground: #0a0a0a;

  --color-secondary: #262626;
  --color-secondary-foreground: #fafafa;

  --color-muted: #262626;
  --color-muted-foreground: #a3a3a3;

  --color-accent: #262626;
  --color-accent-foreground: #fafafa;

  --color-destructive: #7f1d1d;
  --color-destructive-foreground: #fafafa;

  --color-border: #262626;
  --color-input: #262626;
  --color-ring: #d4d4d4;

  --color-chart-1: #3b82f6;
  --color-chart-2: #22c55e;
  --color-chart-3: #f59e0b;
  --color-chart-4: #a855f7;
  --color-chart-5: #ef4444;

  --color-sidebar-background: #171717;
  --color-sidebar-foreground: #d4d4d4;
  --color-sidebar-primary: #3b82f6;
  --color-sidebar-primary-foreground: #fafafa;
  --color-sidebar-accent: #262626;
  --color-sidebar-accent-foreground: #d4d4d4;
  --color-sidebar-border: #262626;
  --color-sidebar-ring: #d4d4d4;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
